/* Entry Page Styling: */
/* The H1 and background picture styling is applies on every page. */
/* Adds background to picture to website. */
html { 
    background: url(Assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }

/* Adds styling to Header */
h1 {
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: rgba(127, 255, 212, 0.9);
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid black;
    font-size: 60px;
    font-family: 'HelloBigDeal', sans-serif;
}

/* Adds Styling to Button on first page */
.play {
    border-radius: 210px;
    display: block;
    height: 45vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    background-color: rgba(127, 255, 212, 0.9);
    transition-duration: 1000ms;
}

/* Adds transformation to button - it gets larger and loses it's opacity. */
.play:hover {
    background-color:rgba(127, 255, 212);
    transform: scale(1.1);
}

/* Levels Page Styling: */
/* I have the level cards split into two divs. The large-screen-view holds everything so I could add flex to the divs named "a". They are there ones with the blue background color. */
/* Inside the "a" div there is the cards. These link to the levels. */
.large-screen-view {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.a {
    background-color:blue;
    height: 30vh;
    width: 50%;
    display: flex
}

.level1, .level2, .level3, .level4, .level5, .level6, .level7, .level8, .level9, .level10, .level11, .level12 {
    background-color:aqua;
    margin: 20px;
    margin-left: 4vh;
    margin-right: 4vh;
    border-radius: 10px;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 3;
    transition-duration: 1000ms;
    display: flex;
}

/* I added a similar transformation to the button above. The only difference is that it is a difference color / opacity. */
.level1:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level2:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level3:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level4:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level5:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level6:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level7:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level8:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level9:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level10:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level11:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

.level12:hover {
    background-color:rgba(127, 255, 212, 0.5);
    transform: scale(1.1);
}

/* This makes it so the link takes up the whole container. I also added flex in the parent container to make this work. */
.levelLink {
    flex-grow: 5;
    border-radius: 10px;
    text-align: center;
    font-size: 100px;
}

/* The level-format page:
The goals of this page is to apply each level dynamically through javascript! Let's hope I can do it! */

.body {
    display: flex;
    height: 65vh;
}

.stats {
    background-color: white;
    flex-grow: 2;
    margin-right: 2vh;
    margin-left: 2vh;
    border-radius: 10px;
}

.grid {
    background-color: white;
    flex-grow: 5;
    margin-left: 2vh;
    margin-right: 2vh;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

img {
    height: 100px;
    padding: 10px;
}

/* The parent of a container must get display flex */

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.container {
    padding-left: 10px;
    background-color: blue;
    margin: 10px;
    border-radius: 10px;
    display: flex;
}

/* This is styling for the two boxes for the score, timer, and turns. */
.points {
    background-color: white;
    height: 12vh;
    padding: 10px;
    margin: 10px;
    flex-grow: 4;
    border-radius: 10px
}

.timer {
    background-color: white;
    height: 12vh;
    padding: 10px;
    margin: 10px;
    flex-grow: 4;
    border-radius: 10px  
}

.turns {
    background-color: white;
    height: 12vh;
    padding: 10px;
    margin: 10px;
    flex-grow: 4;
    border-radius: 10px      
}

/* This is the styling for the clock animation */
.clock {
    height: 12vh;
    padding: 10px;
    margin: 10px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color:aqua;
    border-radius: 120px;
}

@keyframes spin {
    from{
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* This is the styling for the trophy icon */
.trophy {
    height: 12vh;
    padding: 10px;
    margin: 10px;
    background-color:aqua;
    border-radius: 120px;
}

/* This is the styling for the restart icon */
.restart {
    height: 12vh;
    padding: 10px;
    margin: 10px;
    background-color:aqua;
    border-radius: 120px;    
}

/* I needed to reformat the page for small screens. The cards stack in 3 x 4 rows rather than 2 x 6. Also, there are little formating changes I needed to change. */
@media (max-width: 600px) {
    h1 {
        font-size: 35px;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 2px;
        padding-right: 2px;
    }
    .play {
        margin-top: 14%;
    }
}

@media (max-width: 800px) {
    .body {
        display: flex;
    }
    .large-screen-view {
        flex-direction: column;
    }
    .a {
        width: 100%;
    }

    .card {
        margin-left: 2.5vh;
        margin-right: 2.5vh;
    }
}

@media (max-width: 1000px) {
    .body {
        display: flex;
    }
    .large-screen-view {
        flex-direction: column;
    }
    .a {
        width: 100%;
    }

    .card {
        margin-left: 2.2vh;
        margin-right: 2.2vh;
    }
    h1 {
        font-size: 40px;
    }
}